<h2>User info</h2>
<table>
  <tr>
    <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "60x60", fallback: "no_image.jpg" %></td>
  </tr>
  <tr>
    <td>name <%= user.name %></td>
  </tr>
  <tr>
    <td>introduction <%= user.introduction %></td>
  </tr>
</table>
<% if user == current_user %>
 <p><%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %></p>
 <% end %>

<h2>New book</h2>
<%= form_with model:book, local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
