<h2>Book detail</h2>
<table>
  <tr>
    <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
    <% end %>
  </tr>
</table>